<footer id="footer">
  <p class="pull-right"><a href="#top">Back to top</a></p>
  <p>
    Ruby on Rails For Starters Workshop, &copy; 2013.
  </p>        

  Made by <a href="http://thomaspark.me">Lewis Liu</a>. Contact him <a href="mailto:hello@thomaspark.me">hello@thomaspark.me</a>.<br>
  Based on <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>. 
  Hosted on <a href="http://pages.github.com/">GitHub</a>. 

</footer>