<footer id="footer">
  <p class="pull-right"><a href="#middle">Back to top</a></p>
  <p>
    Ruby on Rails for Starters Workshop, &copy; 2013.
  </p>        

  Based on <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>. 
  Hosted on <a href="http://pages.github.com/">GitHub</a>. <br>
  Made by <b>Yuan Sheng Liu (Lewis)</b>. Contact him <a href="mailto:lex.liu@hotmail.com">lex.liu@hotmail.com</a>
 

</footer>