

<div class="row">

    <div class="span4">
    	<h3>Topics</h3>	
		<div class="well" style="padding: 8px 0;">
        	<ul class="nav nav-list">
        		<li class="active"><a href="/">All</a></li>
				<% @topics.each do |topic| %>
					<li><%= link_to topic.name, topic_path(topic) %></li>
				<% end %>
			</ul>      	
      	</div>
    </div>

	<div class="span4" id="content">
		<h3>Recent Articles</h3>	
		<section id="recentArticles">
		  <table class="table table-bordered table-striped table-hover">
		    <thead>
		      <tr>
		        <th>#</th>
		        <th>First Name</th>
		        <th>Last Name</th>
		        <th>Username</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td>1</td>
		        <td>Mark</td>
		        <td>Otto</td>
		        <td>@mdo</td>
		      </tr>
		      <tr>
		        <td>2</td>
		        <td>Jacob</td>
		        <td>Thornton</td>
		        <td>@fat</td>
		      </tr>
		      <tr>
		        <td>3</td>
		        <td>Larry</td>
		        <td>the Bird</td>
		        <td>@twitter</td>
		      </tr>
		    </tbody>
		  </table>
		</section>


		<% @recentArticles.each do |article| %>
			<li><%= link_to article.title, article_path(article) %></li>
		<% end %>

	</div>

</div>

